.heroLogoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-6);
  width: 100%;
}

.footer {
  margin-top: var(--space-5);
  display: flex;
  align-items: center;
  gap: var(--space-6);
  height: 70px;
  padding-inline: var(--space-6);
  border-radius: 999px;
  background: #0C1915;
  backdrop-filter: blur(12px);
  justify-content: space-between;
  position: relative;
}

.heroLogo {
  width: 93px;
  height: 45px;
  object-fit: contain;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  gap: var(--space-6);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.socials {
  display: flex;
  align-items: center;
  gap: var(--space-4);
  font-size: var(--fs-lg);
}

.copyright {
  font-size: 13px;
  padding: 35px 60px;
  color: #E8EEF95E;
}


@media (max-width: 860px) {
  .nav {
    display: none;
  }
}

@media (max-width: 560px) {
  .socials {
    display: none;
  }
}